/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>



&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <200>;
};

/ {


 	 behaviors {
	      th_tap: homerow_mods {
	      compatible = "zmk,behavior-hold-tap";
	      label = "Home Row Mods";
	      tapping-term-ms = <200>;
	      quick-tap-ms = <0>;
	      flavor = "tap-preferred";
	      bindings = <&kp>, <&kp>;
    };
	gqt: global-quick-tap {
		    compatible = "zmk,behavior-hold-tap";
		    label = "GLOBAL_QUICK_TAP";
		    #binding-cells = <2>;
		    flavor = "tap-preferred";
		    tapping-term-ms = <200>;
		    quick-tap-ms = <125>;
		    global-quick-tap;
		    bindings = <&kp>, <&kp>;
		};
    };
    
        keymap {
                compatible = "zmk,keymap";

                default_layer {


                        bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp RALT
   &kp LCTRL &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp DOT   &th_tap DQT SQT
   &kp LGUI &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &th_tap SEMI COLON  &th_tap EXCL QMARK  &kp ESC
                  &mo 1  &kp LSHIFT &gqt LC(LS(LALT)) SPACE  &kp RET &kp BSPC &kp DEL
                        >;
                };
                lower_layer {


                        bindings = <
   &kp TAB    &kp LPAR       &kp RPAR       &kp DQT       &kp PSCRN       &kp C_PP         &kp STAR   &kp N1   &kp N2 &kp N3    &kp FSLH &kp RALT
   &kp LCTRL &kp AT &kp AMPS  &kp PRCNT &kp FSLH &kp UNDER   &kp PLUS &kp N4 &kp N5 &kp N6 &kp DOT &trans
   &trans  &kp CARET &kp HASH &kp DLLR &kp EQUAL &kp TILDE          &kp MINUS &kp N7   &kp N8 &kp N9    &kp N0 &trans
                  &mo 1  &kp LSHIFT &kp SPACE   &kp RET &kp BSPC &mo 2
                        >;
                };

                raise_layer {

                        bindings = <
   &kp  TAB  &kp LBKT &kp RBKT &kp LBRC &kp RBRC &trans   &trans &trans  &kp UP &trans &trans &trans
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4      &trans &kp LEFT &kp DOWN        &kp RIGHT &trans &trans
   &kp LSHFT &trans   &trans &trans   &trans   &trans      &trans &trans  &kp RBKT        &kp RBRC &kp PIPE &kp TILDE
                    	     &kp LGUI &trans   &kp SPACE   &kp RET   &trans    &kp BSPC
                        >;
                };
        };
};
